.search-form {
  padding: 86px 0 62px;
}

.search-form__wrapper {
  padding: 15px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.search-form__reset-btn {
  padding: 0;
  outline: none;
  background-image: url("../../images/icon-search-black.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #e8e8e8;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}

.search-form__reset-btn_active {
  background-image: url("../../images/icon-delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.search-input {
  padding: 5px 15px;
  width: 50%;
  border: none;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
}

.search-input:focus {
  outline: 1px solid #000;
  border-radius: 20px;
}

.search-input::placeholder {
  text-align: center;
  color: #a0a0a0;
  font-size: 29px;
  line-height: 1.2;
  font-weight: 500;
}

.search-btn {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  background-color: #000;
  background-image: url("../../images/icon-search-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.4s ease-in;
}

.search-btn:focus-visible {
  outline: none;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.6);
}

.search-btn_loading:hover {
  cursor: wait;
}

.search-btn:hover {
  opacity: 0.8;
}
