.techs {
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 100px 70px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Courier New", Courier, monospace;
}

.techs__heading-container {
  width: 100%;
  border-bottom: 1px solid #000;
  margin-bottom: 90px;
  padding-bottom: 23px;
}

.techs__heading {
  margin: 0;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
}

.techs__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techs__subtitle {
  margin: 0;
  margin-bottom: 26px;
  font-size: 50px;
  line-height: 1.16;
  font-weight: 400;
}

.techs__text {
  margin: 0;
  margin-bottom: 100px;
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
}

.techs__list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.techs__item {
  background-color: #e8e8e8;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
